footer(class="footer")
    div(class="footer__background")
        div(class="container")
            div(class="footer__wrapper")
                div(class="footer__item")
                    div(class="footer__logo")
                        img(class="footer__logo_img" src=require("../../images/logo_white.svg") alt="A")
                        p(class="footer__logo_text") Afrianska
                    div(class="item__block")
                        p(class="block__text-bold") A.
                        p(class="block__text") Lorem ipsum dolor sit amet, #[br] consectetur adipisicing elit.
                    div(class="item__block")
                        p(class="block__text-bold") T.
                        p(class="block__text") +62-812 - 7313 - 4321
                    div(class="item__block")
                        p(class="block__text-bold") E.
                        p(class="block__text") hello.afrian@gmail.com
                div(class="footer__item")
                    h3(class="item__title") About US
                    a(class="item__link") About
                    a(class="item__link") What We Do
                    a(class="item__link") Project
                    a(class="item__link") How It Work With Us
                div(class="footer__item")
                    h3(class="item__title") Follow US
                    a(class="item__link") Instagram
                    a(class="item__link") Facebook
                    a(class="item__link") LinkedIn
                    a(class="item__link") Youtube
            div(class="footer__copyright")
                p 2019 © Afrianska. All rights reserved.