header(class="header")
    div(class="header__wrapper")
        img(class="header__logo" src=require("../../images/logo.svg") alt="A")
        div(class="header__hamburger-menu")
            nav(class="navigation")
                div(class="hamburger-menu")
                    input(type="checkbox")
                    span(class="icon-line")
                    span(class="icon-line")
                    span(class="icon-line")
                    ul(class="menu__items")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Info
                        li
                            a(href="#") Contact